@use "../variable";

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download__preload {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
  }
}

.download__file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download__logo {
  width: 150px;
  height: auto;
}

.download__icon {
  width: 80px;
  height: auto;
  margin: variable.$margin 0;
}

.download__button {
  margin-top: variable.$margin;
  display: flex;

  .btn {
    margin: 0 variable.$margin-xs;
  }
}
